.about-project {
  max-width: 1280px;
  max-height: 608px;
  padding: 110px 70px 110px;
  margin: 0 auto;
  box-sizing: border-box;
}
.title {
  font-size: 22px;
  font-weight: 400;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
  letter-spacing: -0.9px;
  margin: 2px 0 0;
}
.about-project__block-of-text {
  margin: 70px 0 110px;
  display: flex;
  gap: 40px;
}
.about-project__text-stages {
  max-width: 550px;
  width: 100%;
}
.about-project__subtitle {
  margin: 0 0 26px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
  line-height: 24px;
}
.about-project__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about-project__table {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 36px;
  grid-template-areas: "about-project__element-week-1 about-project__element-week-4"
  "about-project__element-back about-project__element-front";
}
.about-project__table-element-week-1{
  background-color: #3456F3;
  width: 100%;
  height: 100%;
}
.about-project__table-element-week-4{
  background-color: #F2F2F2;
}
.about-project__text-week-1 {
  margin: 0;
  color: white;
}
.about-project__text-week-4 {
  margin: 0;
}
.about-project__text-back{
  margin: 10px 0 0;
  color: #A0A0A0;
}
.about-project__text-front{
  margin: 14px 0 0;
  color: #A0A0A0;
}
.about-project__table-element {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .about-project {
    max-width: 768px;
    max-height: 585px;
    padding: 90px 50px;
  }
  .about-project__block-of-text {
    margin: 70px 0 93px;
    gap: 30px;
  }
  .about-project__subtitle {
    margin: 0 0 22px;
  }
  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }
  .about-project__table {
    grid-template-columns: 1fr 3.7fr;
  }
}

@media screen and (max-width: 500px) {
  .about-project {
    max-width: 320px;
    max-height: 641px;
    padding: 70px 18px 69px;
  }
  .title{
      font-size: 18px;
      padding-bottom: 28px;
      letter-spacing: -0.73px;
  }
  .about-project__block-of-text {
      margin: 60px 0;
      gap: 56px;
      flex-direction: column;
  }
  .about-project__subtitle {
      margin: 0 0 16px;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.73px;
  }
  .about-project__text {
      font-size: 11px;
      line-height: 16px;

  }
  .about-project__table {
      grid-template-rows: 35px 35px;
      grid-template-columns: 1fr 1.8fr;
  }
  .about-project__text-week-1 {
      font-size: 11px;
  }
  .about-project__text-week-4 {
      font-size: 11px;
  }
  .about-project__text-back{
      font-size: 11px;
      margin: 0;
  }
  .about-project__text-front{
      font-size: 11px;
      margin: 0;
  }
}
