.elements {
  margin: 80px auto 80px;
  /* padding: 0 70px; */
  display: grid;
  place-content: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 270px);
  row-gap: 32px;
  column-gap: 20px;
  box-sizing: border-box;
  max-width: 1140px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(auto-fill, 339px);
    gap: 36px 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 476px) {
  .elements {
    margin: 50px auto 80px;
    grid-template-columns: repeat(auto-fill, 300px);
    row-gap: 20px;

  }
}

.elements-not-found {
  padding: 0;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.elements-not-found__text {
  padding: 0;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
  color: gray;
  text-align: center;
}
